$background-color: #1c1c1f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: unset;
}
li {
  list-style: none;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
button {
  all: unset;
}
