$background-color:#1C1C1F;
$primary-color:#252529;
$secondary-color:#04C9B7;
$primary-textColor:#ffffff;
$secondary-textColor:#74849D;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width:100%;
  padding-right:5rem;
  padding-left:5rem;
  margin-right: auto;
  margin-left: auto;
}
a{
  text-decoration: none;
  color:unset;
}
li{
  list-style: none;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
button{
  all:unset;
}
@mixin transition-ease($transition) {
  transition: $transition;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}